{% extends 'base.html.twig' %}

{% block body %}
    {#Главная страница!<br>#}


    {#<a href="/login">логин</a><br>#}
    {#<a href="/logout">логаут</a><br>#}
    {#<a href="/register">регистрация</a><br>#}
    {#<a href="/resetting/request">вспомнить пароль</a><br><br>#}

    {#<a href="/my/profile">личный кабинет</a><br><br>#}
    {#<a href="/masters">мастера</a><br><br>#}
    {#<a href="/comments">отзывы</a><br><br>#}

    {#<a href="/basket">корзина</a><br>#}
    {#<a href="/offer">офферта</a><br>#}
    {#<a href="/lessons">все лекции</a><br>#}
    {#<a href="/categories">все категории товаров</a><br><br>#}
    {#<a href="/admin">АДМИНКА</a><br>#}

<div class="wrapper wrapper_main">
    {% include 'parts/header.html.twig' %}
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <div class="text_banner">
                        <span>Добро Пожаловать</span>
                        в Центр Правильной Магии, созданный финалисткой 16 сезона
                        &laquo;Битвы Экстрасенсов&raquo;  Николь Кузнецовой
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap_s">
            <div class="smoke-container"></div>
            <div class="smoke"></div>
            <div class="smoke2"></div>
        </div>
    </div>

    <div class="wrap_12">
        <div class="wrap_content">
            {% include 'parts/menu.html.twig' %}
            <div class="main">
                <div class="container">
                    <div class="main_page">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="content_head">
                                    <div class="h2">новости</div>
                                </div>
                                <div class="content_item content_item_news">
                                    <div class="scroll-pane scroll-pane_main">
                                        {% for n in news %}
                                            <h4 style="margin: 5px">{{ n.title }}</h4>
                                            <p>
                                                {{ n.text }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-9">
                                <div class="content_head">
                                    <div class="h2"></div>
                                </div>
                                <div class="content_item">
                                    <div class="scroll-pane scroll-pane_main">
                                        {{ content.content | raw }}
                                        {% include ':parts:alerts.html.twig' %}
                                        <div class="wrap_form">
                                            <div class="title_form">Форма обратной связи</div>
                                            <form class="form" method="post" action="/email/fromMain">
                                                <input class="input" type="text" maxlength="" name="name" placeholder="Ваше имя" required="">
                                                <input class="input" type="text" maxlength="" name="email" placeholder="E-mail" required="">
                                                <textarea class="textarea" placeholder="Сообщение" name="msg"></textarea>
                                                <input class="btn-submit" type="submit" value="Отправить">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- wrap_12-->
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
