{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
    {% include 'parts/header.html.twig' %}
    <div class="wrap_12">
        <div class="wrap_content">
            {% include 'parts/menu.html.twig' %}
            <div class="main">
                <div class="container">
                    <div class="content_head">
                        <div class="h2">Публичная оферта</div>
                    </div>
                    <div class="content_item content_item7">
                        <div class="scroll-pane">
                            <div class="wrap_oferta">
                                <p style="margin-top: 10px">
                                    {{ offer.content | raw }}
                                </p>
                            </div>
                        </div><!--scroll-pane-->
                    </div>
                </div>
            </div>
        </div>
    </div><!--wrap_12-->
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
