<div class="wrap_12">

    <div class="head">

        <div class="container">

            <div class="row">

                <div class="col-xs-5 left_head">



                </div>

                <div class="col-xs-2 logo_top">

                    <a class="" href="/">

                        <img src="/images/logo.png" alt=""/>

                    </a>

                </div>



                <div class="col-xs-5 right_head">

                    Здесь будут телефоны и почта для записи в школу и на прием

                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">

                    <h1 class="h1">Центр Правильной Магии</h1>

                </div>

            </div>

        </div>

    </div>



</div><!--wrap_12-->