<div class="menu_block">
    <div class="menu_top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--						<div class="wrap_menu">-->
                    <ul class="menu">
                        <li><a href="/" class="activ">о центре</a></li>
                        <li><a href="/courses">курсы</a></li>
                        <li><a href="/masters">мастера центра</a></li>
                        <li><a href="/categories">магазин</a></li>
                        <li><a href="/appointment">запись на прием</a></li>
                        <li><a href="/comments">отзывы</a></li>
                        <li><a href="/contacts">контакты</a></li>
                    </ul>
                    <!--							<span></span>-->
                    <!--						</div>-->
                </div>
            </div>
        </div>
    </div>
</div>