{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="sonata-ba-show">
            <div class=" ">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Воход
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <label for="username" class="control-label required" >Логин</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class=" form-control" />

                            <label for="password" class="control-label required" >Пароль</label>
                            <input type="password" id="password" name="_password" required="required" class=" form-control" />

                            <input type="hidden" id="remember_me" name="_remember_me" value="on"  checked/><br>
                            {#<label for="remember_me">remeber</label>#}

                            <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="Войти"/>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}