{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% include 'parts/header.html.twig' %}
        <div class="wrap_12">
            <div class="wrap_content">
                {% include 'parts/menu.html.twig' %}
                <div class="main">
                    <div class="container">
                        <div class="content_head">
                            <div class="h2">Заявка на запись на курс сформирована</div>
                        </div>
                        <div class="content_item content_item7">
                            <div class="scroll-pane">
                                <div class="wrap_oferta">
                                    <p>
                                        Заявка на запить на курс номер <b>{{ r.lesson.title }}</b> на сумму {{ r.lesson.cost }} успешно создана.
                                        Пожалуйста запишите номер вашей заявки.
                                        Для продолжения необходимо перейти к оплате
                                    </p>
                                    <form action="https://demomoney.yandex.ru/eshop.xml" method="post">
                                        <input name="shopId" value="1234" type="hidden"/>
                                        <input name="scid" value="4321" type="hidden"/>
                                        <input name="sum" value="{{ r.lesson.cost }}" type="hidden">
                                        <input name="customerNumber" value="abc000" type="hidden"/>
                                        <input name="paymentType" value="AC" type="hidden"/>
                                        <input name="orderNumber" value="{{ r.id }}" type="hidden"/>
                                        <input type="submit" value="Перейти к оплате"/>
                                    </form>
                                </div>
                            </div><!--scroll-pane-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!--wrap_12-->
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script src="/js/basket.js"></script>
    <script>
        Cookies.set('basket',[]);
    </script>
{% endblock %}
